@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
      --opacity: 0;
      --right:200px;
}

* {
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
}

body {
      background-color: black;
      color: white;
}

.left {
      width: 25vw;
      position: relative;
      min-height: 100vh;
      overflow-y: auto;
}

.home {
      height: 20vh;
}

.home ul li {
      list-style: none;
      font-weight: 700;
      font-size: 16px;
      display: flex;
      gap: 20px;
      padding-top: 16px;
}

.home .logo img:first-child {
      width: 120px;
}

.home .logo img:last-child {
      width: 20px;
      display: none;
}

.left .library {
      height: 65vh;
}

.heading {
      font-weight: 700;
      font-size: 16px;
      display: flex;
      gap: 20px;
      align-items: center;
}

.home ul img,
.heading img {
      width: 24px;
}

.right {
      width: 75vw;
      position: relative;
}

.footer {
      /* position: absolute; */
      /* bottom: 0; */
      margin: 20px 0px;
}

.footer-content {
      display: flex;
      flex-wrap: wrap;
      font-size: 12px;
      justify-items: center;
      align-items: center;
      gap: 12px;
      margin: 20px 0px;
}

.footer-content a {
      text-decoration: none;
      color: grey;
}

.header-container {
      gap: 20px;
      height: 6vh;
      overflow-y: hidden;
}

.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border-top-right-radius: inherit;
      border-top-left-radius: inherit;
}

.header .buttons {
      gap: 20px;
}

.hamburger {
      display: none;
      width: 38px;
}

.header>div>img {
      background-color: white;
      border-radius: 50%;
      padding: 2px;
      color: white;
}

.playlists {
      overflow-y: auto;
      max-height: 76vh;
}

.card {
      width: 200px;
      background: #131313;
      position: relative;
      transition: all 0.15s linear;
}

.card:hover {
      cursor: pointer;
      background-color: #252525;
      --opacity:1;
      --right:160px;
}

.card img {
      object-fit: contain;
      width: 100%;
      border-radius: inherit;
}

.card .description h4 {
      font-size: 16px;
      font-weight: 700;
}

.card .description p {
      font-size: 12px;
      color: grey;
}

.card .play {
      position: absolute;
      width: 48px;
      height: 48px;
      right: 20px;
      top: var(--right);
      opacity: var(--opacity);
      border-radius: 50%;
      background-color: #1ed760;
      cursor: pointer;
      transition: all 0.3s ease-out;
}

.play:hover {
      background-color: #1fdf64;
}

.btn-signup {
      color: grey;
      background-color: transparent;
      font-size: 18px;
      border: none;
}

.btn-signup:hover {
      color: white;
      cursor: pointer;
      font-size: 20px;
}

.btn-login {
      color: black;
      background-color: white;
      font-size: 18px;
      font-weight: bold;
      padding: 6px 24px;
      border-radius: 25px;
      border-color: transparent;
}

.btn-login:hover {
      background-color: rgb(243, 236, 236);
      cursor: pointer;
      font-size: 19px;
}

.playbar {
      position: fixed;
      bottom: 10px;
      background-color: #43564a;
      width: 75vw;
      padding: 24px;
      box-sizing: border-box;
      height: auto;
      min-height: 12vh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      align-items: center;
      align-content: center;
      justify-items: center;
      gap: 20px;
}

.playbar .song-btn {
      gap: 10px;
}

.song-btn>img {
      width: 25px;
}

.library .song-list .songs {
      min-height: 38vh;
}

.songs>li {
      padding: 6px;
      display: flex;
      justify-content: space-around;
      cursor: pointer;
      align-items: center;
      border: 1px solid white;
      border-radius: 6px;
      gap: 10px;
}

.songs>li>.info {
      width: 234px;
      word-break: break-all;
      font-size: 12px;
}

.play-now {
      gap: 10px;
}

.play-now>img {
      height: 28px;
}

.play-now>span {
      font-size: 10px;
}

.playbar .seekbar {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: white;
      height: 8px;
      width: 100%;
}

.seekbar:hover {
      cursor: pointer;
}

.seekbar .circle {
      width: 0%;
      height: 100%;
      background-color: black;
      transition: width 0.2s ease-out;
}

@media screen and (max-width: 1369px) {
      .home .logo img:last-child {
            display: block;
      }

      .left {
            width: 25vw;
            position: absolute;
            left: -100%;
      }

      .right,
      .playbar {
            width: 100vw;
      }

      .hamburger {
            display: block;
      }

      .playbar {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 12px;
      }

      .playbar h3 {
            text-align: center;
      }
}

@media screen and (max-width: 440px) {
      .btn-signup {
            font-size: 12px;
      }

      .btn-signup:hover {
            font-size: 14px;
      }

      .btn-login {
            font-size: 12px;
            padding: 6px 15px;
      }

      .btn-login:hover {
            font-size: 14px;
      }

      .header>div>img {
            padding: 5px;
            width: 16px;
      }

      .hamburger {
            width: 28px;
      }

      .footer-content {
            font-size: 12px;
      }

      .header-container {
            height: 4vh;
      }

      .playlists {
            max-height: 77vh;
      }
}

@media screen and (max-width: 769px) {}