@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
}

body {
      background-color: black;
      color: white;
}

.left {
      width: 25vw;
}

.home ul li {
      list-style: none;
      font-weight: 700;
      font-size: 15px;
      display: flex;
      gap: 20px;
      padding-top: 16px;
}

.library {
      height: 70vh;
      position: relative;
}

.heading {
      font-weight: 700;
      font-size: 15px;
      display: flex;
      gap: 20px;
      align-items: center;
}

.home ul img,
.heading img {
      width: 24px;
}

.right {
      width: 75vw;
      overflow-y: auto;
}

.footer {
      position: absolute;
      bottom: 0;
      margin: 20px 0px;
}

.footer-content {
      display: flex;
      flex-wrap: wrap;
      font-size: 12px;
      justify-items: center;
      align-items: center;
      gap: 12px;
      margin: 20px 0px;
}

.footer-content a {
      text-decoration: none;
      color: grey;
}

.header{
      display: flex;
      justify-content: space-between;
      z-index: 1;
}