@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
}

body {
      background-color: black;
      color: white;
}

.left {
      width: 25vw;
      position: relative;
}

.home {
      height: 18vh;
}

.home ul li {
      list-style: none;
      font-weight: 700;
      font-size: 20px;
      display: flex;
      gap: 20px;
      padding-top: 16px;
}

.home .logo img{
      width: 132px;
}

.library {
      height: 72vh;
}

.heading {
      font-weight: 700;
      font-size: 20px;
      display: flex;
      gap: 20px;
      align-items: center;
}

.home ul img,
.heading img {
      width: 24px;
}

.right {
      width: 75vw;
      position: relative;
}

.footer {
      position: absolute;
      bottom: 0;
      margin: 20px 0px;
}

.footer-content {
      display: flex;
      flex-wrap: wrap;
      font-size: 12px;
      justify-items: center;
      align-items: center;
      gap: 12px;
      margin: 20px 0px;
}

.footer-content a {
      text-decoration: none;
      color: grey;
}

.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* z-index: 1; */
      /* position: sticky;
      top: 7.5px; */
      /* height: 6vh; */
      border-top-right-radius: inherit;
      border-top-left-radius: inherit;
}

.header img {
      background-color: white;
      border-radius: 50%;
      padding: 10px;
      color: white;
}

.playlists {
      overflow-y: auto;
      max-height: 75vh;
}

.card {
      width: 200px;
      background: #131313;
      position: relative;
      transition: all 0.15s linear;
}

.card:hover {
      cursor: pointer;
      background-color: #252525;
}

.card img {
      object-fit: contain;
      width: 100%;
      border-radius: inherit;
}

.card .description h4 {
      font-size: 16px;
      font-weight: 700;
}

.card .description p {
      font-size: 14px;
      color: grey;
}

.card .play {
      position: absolute;
      width: 48px;
      height: 48px;
      right: 20px;
      top: 160px;
      border-radius: 50%;
      background-color: #1ed760;
}

.play:hover {
      background-color: #1fdf64;
      width: 50px;
      height: 50px;
      cursor: pointer;
      /* right: 20px;
      top: 160px;
      opacity: 1; */
}

.btn-signup {
      color: grey;
      background-color: transparent;
      font-size: 22px;
      border: none;
      margin-right: 20px;
}

.btn-signup:hover {
      color: white;
      cursor: pointer;
      font-size: 24px;
}

.btn-login {
      color: black;
      background-color: white;
      font-size: 22px;
      font-weight: bold;
      padding: 11px 30px;
      border-radius: 25px;
      border-color: transparent;
}

.btn-login:hover {
      background-color: rgb(243, 236, 236);
      cursor: pointer;
      font-size: 23px;
}

.playbar {
      position: fixed;
      bottom: 10px;
      background-color: #43564a;
      width: 75vw;
      padding: 24px;
      box-sizing: border-box;
      height: 12vh;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      align-items: center;
      align-content: center;
      justify-items: center;
}

.playbar .song-btn {
      gap: 20px;
      size: 25px;
}

.song-btn>img {
      width: 40px;
}

.library .song-list .songs {
      overflow: auto;
      max-height: 52vh;
      padding: 0px 6px;
}

.songs>li {
      padding: 6px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      align-items: center;
      border: 1px solid white;
      border-radius: 6px;
}

.songs>li>.info {
      width: 234px;
}

.play-now {
      gap: 10px;
}

.play-now>img {
      height: 32px;
}

.play-now>span {
      font-size: 12px;
}

.playbar .seekbar {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: white;
      height: 8px;
      width: 100%;
}

.seekbar:hover{
      cursor: pointer;
}

.seekbar .circle {
      width: 0%;
      height: 100%;
      background-color: black;
      transition: width 0.2s ease-out;
}