/* not in use  */
.border-red-2px {
      border: 2px solid red;
      margin: 3px;
}

.none {
      display: none;
}

.flex {
      display: flex;
}

.justify-center {
      justify-content: center;
}

.justify-between {
      justify-content: space-between;
}

.justify-evenly {
      justify-content: space-evenly;
}

.items-center {
      align-items: center;
}

.flex-col {
      flex-direction: column;
}

.flex-wrap {
      flex-wrap: wrap;
}

.bg-grey {
      background: #121212;
      color: white;
}

/* not in use  */
.bg-black {
      background: black;
      color: white;
}

/* not in use  */
.border-black-1px {
      border: 1px solid black;
}

.invert {
      filter: invert(1);
}

.rounded {
      border-radius: 10px;
}

.my-1 {
      margin-top: 5px;
      margin-bottom: 5px;
}

.my-1_5 {
      margin-top: 7.5px;
      margin-bottom: 7.5px;
}

/* not in use  */
.my-2 {
      margin-top: 10px;
      margin-bottom: 10px;
}

/* not in use  */
.my-3 {
      margin-top: 15px;
      margin-bottom: 15px;
}

/* not in use  */
.my-4 {
      margin-top: 20px;
      margin-bottom: 20px;
}

.my-5 {
      margin-top: 25px;
      margin-bottom: 25px;
}

.mt-1 {
      margin-top: 5px;
}

.mt-1_5 {
      margin-top: 7.5px;
}

/* not in use  */
.mt-2 {
      margin-top: 10px;
}

/* not in use  */
.mt-3 {
      margin-top: 15px;
}

/* not in use  */
.mt-4 {
      margin-top: 20px;
}

.mt-5 {
      margin-top: 25px;
}

/* not in use  */
.mx-1 {
      margin-left: 5px;
      margin-right: 5px;
}

/* not in use  */
.mx-2 {
      margin-left: 10px;
      margin-right: 10px;
}

/* not in use  */
.mx-3 {
      margin-left: 15px;
      margin-right: 15px;
}

/* not in use  */
.mx-4 {
      margin-left: 20px;
      margin-right: 20px;
}

.mx-5 {
      margin-left: 25px;
      margin-right: 25px;
}

.m-1 {
      margin: 5px;
}

.m-1_5 {
      margin: 7.5px;
}

.m-2 {
      margin: 10px;
}

.m-3 {
      margin: 15px;
}

/* not in use  */
.m-4 {
      margin: 20px;
}

.m-5 {
      margin: 25px;
}

/* not in use  */
.p-1 {
      padding: 5px;
}

.p-2 {
      padding: 10px;
}

.p-3 {
      padding: 15px;
}

.p-4 {
      padding: 20px;
}

.p-5 {
      padding: 25px;
}

/* not in use  */
.px-1 {
      padding-left: 5px;
      padding-right: 5px;
}

/* not in use  */
.px-2 {
      padding-left: 10px;
      padding-right: 10px;
}

/* not in use  */
.px-3 {
      padding-left: 15px;
      padding-right: 15px;
}

/* not in use  */
.px-4 {
      padding-left: 20px;
      padding-right: 20px;
}

.px-5 {
      padding-left: 25px;
      padding-right: 25px;
}

.btn {
      cursor: pointer;
}

/* .btn-black{
      background-color: black;
      color: white;
}

.btn-white{
      background-color: white;
      color: black;
}

.btn-black:hover{
      cursor: pointer;
      background-color: rgb(21, 21, 21);
}

.btn-white:hover{
      cursor: pointer;
      background-color: rgb(246, 239, 239)
} */

/* WebKit (Chrome, Safari) scrollbar styling */
::-webkit-scrollbar {
      width: 8px;
}

::-webkit-scrollbar-thumb {
      background-color: #333;
      /* Dark color for the thumb */
      border-radius: 6px;
}

::-webkit-scrollbar-track {
      background-color: #666;
      /* Track color */
}

/* General styling for both WebKit and Firefox */
body {
      scrollbar-width: thin;
      /* For Firefox */
}

/* Optional: hide the scrollbar when not scrolling */
/* Uncomment the following line if you want to hide the scrollbar when not scrolling */
/* body { overflow: -moz-scrollbars-none; } */