/* not in use  */
.border-red-2px {
      border: 2px solid red;
      margin: 3px;
}

.flex {
      display: flex;
}

.justify-center {
      justify-content: center;
}

.justify-between {
      justify-content: space-between;
}

.items-center {
      align-items: center;
}

.flex-col {
      flex-direction: column;
}

.bg-grey {
      background: #121212;
      color: white;
}

/* not in use  */
.bg-black {
      background: black;
      color: white;
}

/* not in use  */
.border-black-1px {
      border: 1px solid black;
}

.invert {
      filter: invert(1);
}

.rounded {
      border-radius: 10px;
}

.my-1 {
      margin-top: 5px;
      margin-bottom: 5px;
}

.my-1_5 {
      margin-top: 7.5px;
      margin-bottom: 7.5px;
}

/* not in use  */
.my-2 {
      margin-top: 10px;
      margin-bottom: 10px;
}

/* not in use  */
.my-3 {
      margin-top: 15px;
      margin-bottom: 15px;
}

/* not in use  */
.my-4 {
      margin-top: 20px;
      margin-bottom: 20px;
}

.my-5 {
      margin-top: 25px;
      margin-bottom: 25px;
}

/* not in use  */
.mx-1 {
      margin-top: 5px;
      margin-bottom: 5px;
}

.m-1 {
      margin: 5px;
}

.m-1_5 {
      margin: 7.5px;
}

.m-2 {
      margin: 10px;
}

/* not in use  */
.p-1 {
      padding: 5px;
}

.p-2 {
      padding: 10px;
}

.p-3 {
      padding: 15px;
}

.p-4 {
      padding: 20px;
}

.p-5 {
      padding: 25px;
}